.navigation__item_vertical {
    margin-bottom: 80px;
    margin-right: 0;
    align-self: flex-start;
  }

.navigation__item_vertical:last-child {
    margin-bottom: 0;
  }

.navigation__item_vertical .navigation__button_arrow {
    margin: 0;
  }