.navigation {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    min-height: 64px;
  }

  @media screen and (max-width: 767px) {
    .navigation {
      padding-left: 40px;
    }
  }